@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-style: normal;
}

:root {
  --gap: 20px;
  --radius: 6px;
  --white: #ffffff;
  --gray100: #f9f9f9;
  --gray150: #f5f5f5;
  --gray200: #efefef;
  --gray250: #e5e5e5;
  --gray350: #d1d1d1;
  --gray400: #c9c9c9;
  --gray450: #b0b0b0;
  --gray500: #969696;
  --gray600: #767676;
  --gray700: #555555;
  --gray800: #424242;
  --gray900: #111111;
  --purpule300: #dcc3fe;
  --purpule500: #7e00ff;
  --mint300: #00bfb2;
  --mint500: #00a197;
  --red500: #f44338;
  --blue500: #2d56e2;
  --dimed: rgba(0, 0, 0, 0.2);
  --fontA: 12px;
  --fontAL: 18px;
  --fontB: 13px;
  --fontBL: 19px;
  --fontC: 14px;
  --fontCL: 20px;
  --fontD: 15px;
  --fontDL: 21px;
  --fontE: 17px;
  --fontEL: 23px;
  --fontJ: 20px;
  --fontJL: 26px;
  --fontF: 21px;
  --fontFL: 27px;
  --fontG: 24px;
  --fontGL: 30px;
  --fontH: 32px;
  --fontHL: 38px;
  --fontI: 40px;
  --fontIL: 48px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--fontC);
  line-height: var(--fontCL);
  color: var(--gray900);
  -webkit-text-size-adjust: none;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: Pretendard, sans-serif;
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  color: inherit;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

li,
ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=email]:focus, 
input[type=number]:focus, 
input[type=password]:focus,
input[type=tel]:focus, 
input[type=text]:focus, 
input[type=url]:focus,
 textarea:focus{
  border: 1px solid #111 !important;
  outline: 0;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}
